<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Reset Password</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<div class="container">
    <h2>Reset Password</h2>

    <form action="/reset-user-password" method="post">
        <div class="form-group">
			<input type="hidden" name="email" th:value="${email}" />
            <label>New Password</label>
            <input type="password" name="password" placeholder="Enter new password" required>
        </div>

        <div class="form-group">
            <label>Confirm Password</label>
            <input type="password" name="conformPassword" placeholder="Confirm new password" required>
        </div>

        <button type="submit">Update Password</button>
    </form>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>
